probe-simulation_server/src/models/voyager/voyager.bam
probe-simulation/src/models/voyager/voyager.blend
probe-simulation/src/models/voyager/voyager.glb
probe-simulation/src/models/voyager/voyager.bam
probe-simulation/src/models/voyager/voyager.blend1
probe-simulation/src/models/drone/drone.bam

